<!DOCTYPE html>
<html>
<head>
  <title><%= "О Днеслове" %></title>
  <%= stylesheet_link_tag    'application.about', media: 'all' %>
  <%= javascript_include_tag 'application.about' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
