<!DOCTYPE html>
<html>
<head>
  <title><%= "Админка Днеслова" %></title>
  <%= stylesheet_link_tag    'application.admin', media: 'all' %>
  <%= javascript_include_tag 'application.admin' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
